@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/betterlisting/google_cache/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen Mono'), local('OxygenMono-Regular'), url(/betterlisting/google_cache/h0GsssGg9FxgDgCjLeAd7hjYx-s.ttf) format('truetype');
}
